@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

:root{
    --mainTextColor-light:#000;
    --secondaryTextColor-light:rgb(51 51 51);
    --mainLinkColor-light:#0da2b8;
    --mainBorderColor-light:rgb(218, 218, 218);
    --mainBgColor-light:#f7f7f7;

    --mainTextColor-dark:#fff;
    --secondaryTextColor-dark:#adb0b1;
    --mainLinkColor-dark:rgb(30, 190,214);
    --mainBorderColor-dark:#2b3031;
    --mainBgColor-dark:#131415;
    
    --mainTextColor: var(--mainTextColor-light);
    --secondaryTextColor: var(--secondaryTextColor-light);
    --mainLinkColor: var(--mainLinkColor-light);
    --mainBorderColor: var(--mainBorderColor-light);
    --mainBgColor: var(--mainBgColor-light);
}

[data-theme="dark"] {
    --mainTextColor: var(--mainTextColor-dark);
    --secondaryTextColor: var(--secondaryTextColor-dark);
    --mainLinkColor: var(--mainLinkColor-dark);
    --mainBorderColor: var(--mainBorderColor-dark);
    --mainBgColor: var(--mainBgColor-dark);
}



*{
    font-family: 'Readex Pro';
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--mainTextColor);
    
}

body{
    background-color: var(--mainBgColor);            
}

p, span, li{
    color: var(--secondaryTextColor);
    font-size: 1em;
}

a{
    text-decoration: none;
    color: var(--mainLinkColor);
    font-weight: 500;
}

li{
    line-height: 1.9em;
}

#container--main{
    position:relative;
    max-width: 700px;
    margin: 0 auto;
    padding: 1em;
}

.section--page{
    padding-top: 1em;
    padding-bottom: 1em;
}

#wrapper--hero{
    display: flex;
    align-items: center;
    gap: 4em;
}

#bio, a{
    font-weight: 300;
}

#user-name{
    font-size: 48px;
    line-height: 1em;
}

#profile-pic{
    width: 175px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

#email{
    color: var(--mainTextColor);
}

#socials--list{
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    flex-wrap: wrap;
}

#socials--list a{
    font-weight: 300;
    color: var(--secondaryTextColor);
    font-size: 0.9em;
    transition: 0.3s;
}

#socials--list a:hover{
    font-weight: 100;
    color: var(--mainLinkColor);
    font-size: 0.9em;
}

#qualifications--list{
    list-style: none;
}

/*#wrapper--techstack__items{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
}

.card--techstack{
    border: 1px solid var(--mainBorderColor);
    border-radius: 5px;
    padding: 0.5em 1em;
    align-items: center;
}
*/

.card--project{
    padding-top: 1em;
    padding-bottom: 1em;
    border-top: 1px solid var(--mainBorderColor);
}

.card--project a{
    color: var(--mainTextColor);

    transition: 0.3s;
}

.card--project a:hover{
    color: rgb(30, 190,214);

}

.card--work-history{
    background-color: var(--mainBgColor);
    color: var(--mainTextColor);
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-bottom: 20px;
    border-left: 1px solid var(--mainBorderColor);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.left-header {
    display: flex;
    align-items: center;
}
.company-logo {
    width: 50px; /* Adjust the width as per your logo size */
    height: 50px;
    margin-right: 10px; /* Added spacing between logo and text */
}

.line-break{
    background-color: var(--mainBorderColor);
    height: 1px;
}


@media(max-width:600px){

    .section--page{
        padding-top: 1em;
        padding-bottom: 1em;
    }

    #wrapper--hero{
        display: flex;
        align-items: center;
        gap: 1em;
    }

    #profile-pic{
        width: 200px;
        height: 200px;
    }

    #wrapper--hero{
        flex-direction: column;
    }

    .card--work-history{
        border-left: none;
        padding-left: 0;
    }
}

.social_links_row {
    display: flex;
    justify-content: space-between;
}

.social_link img {
    width: 1em;  /* adjust as needed */
    height: 1em; /* adjust as needed */
    vertical-align: middle; /* aligns the image with the text */
    margin-right: 5px; /* adds some space between the image and the text */
}

.theme-switch-wrapper {
    position: absolute;
    right: -3em;
    top: 2em;  
    display: flex;
    align-items: center;
}

.theme-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.theme-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.theme-labels span {
    margin: 0 5px;
}

.theme-labels {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60px;
}

.university-logo {
    width: 60px;
    height: 75px;
    margin-right: 20px;
    margin-top: 20px;
}

.education-item {
    display: flex;
    align-items: start;
    margin-bottom: 20px;
}

.education-content {
    flex-grow: 1;
}

.education-header {
    display: flex;
    justify-content: space-between;
}

.university {
    font-weight: bold;
    color: #0da2b8;  
}

.degree {
    font-style: italic; 
    font-weight: bold;
}

.coursework {
    margin-top: 10px;
}

.coursework p {
    font-weight: bold;
    color: var(--mainTextColor);
}

.coursework ul {
    list-style-type: square;
}

.coursework ul li {
    margin: 5px 0;
    color: var(--mainLinkColor);
}

.section-separator {
    height: 1px;
    background-color: #888; /* Replace with your desired separator color */
    margin: 20px 0; /* Adjust the margin as needed */
    border: none;
}

/* Main menu link default state */
.main-menu-link {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--mainLinkColor);
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Main menu link default state */
.main-menu-link {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 1.5em; /* Increase the font size to make it more evident */
    text-transform: uppercase;
    font-weight: 800; /* Set the font-weight to bold */
    color: var(--mainLinkColor);
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Main menu link hover state */
.main-menu-link:hover, 
.main-menu-link:focus {
    text-decoration: none;
}

/* Dark theme adjustments */
[data-theme="dark"] .main-menu-link {
    color: var(--mainLinkColor-dark);
}

.course-link {
    color: inherit; /* This will inherit the color from the parent element */
    text-decoration: none; /* This will remove the underline */
}

.course-link:hover {
    color: inherit;
    text-decoration: underline; /* This will underline the text when you hover over it */
}

.bold-separator {
    border: 0;
    height: 4px; /* Increased height to make it more visually appealing */
    background-color: var(--mainLinkColor);
    margin: 2em 0;
}

#skills {
    padding: 40px 0;
    background-color: var(--mainBgColor);
    text-align: center;
}

#skills h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--mainTextColor);
}

#wrapper--techstack__items {
    max-width: 1000px;
    margin: 0 auto;
}

.card--techstack {
    background-color: var(--mainBgColor);
    color: var(--mainTextColor);
    border-radius: 6px;
    padding: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    margin-bottom: 20px;
    border-top: 1px solid var(--mainBorderColor);
    border-left: 1px solid var(--mainBorderColor);
}

.card--techstack strong {
    font-weight: 500;
    display: block;
    margin-bottom: 10px;
}

[data-theme="dark"] {
    #skills {
        background-color: var(--mainBgColor-dark);
    }

    #skills h2 {
        color: var(--mainTextColor-dark);
    }

    .card--techstack {
        background-color: var(--mainBgColor-dark);
        color: var(--mainTextColor-dark);
    }
}

#skill-title {
    font-weight: bold;
    color: #0da2b8;  
}

/* Project css */
.project-card {
    background-color: var(--mainBgColor);
    border: 1px solid var(--mainBorderColor);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow 0.3s ease;
}

.project-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-image {
    width: 100%;
    max-width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

.project-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: var(--mainTextColor);
    text-align: center;
}

.project-description {
    text-align: center;
    margin-bottom: 15px;
}

.project-link {
    color: var(--mainLinkColor);
    font-weight: 500;
    border: 1px solid var(--mainLinkColor);
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.project-link:hover {
    background-color: var(--mainLinkColor);
    color: var(--mainBgColor);
}
